.top-logo-circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #132453;
}

.top-logo-circle-navbar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.top-logo-title {
    font-weight: 600;
    font-size: 24px;
}

.top-logo-title-mobile {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.428571px;
    color: #132453;
}

.top-logo-subtitle-mobile {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #132453;
}



.top-logo-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.top-logo-title-navbar {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.428571px;
    color: #FFFFFF;
}