.only-e-logo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.428571px;
    color: #FFFFFF;
}

.logo-container-navbar {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}